.board_wrap{
    margin-top: 30px;
}
.board_title{
    margin-bottom:  30px;
}
.board_title strong{
    font-size:  3em;
}
.board_write {
    border-top: 2px solid #000;
    
}

.board_write .title,
.board_write .info {
    padding: 15px;
}

.board_write .info {
    border-top: 1px dashed #ddd;
    border-bottom: 1px solid #000;
    font-size: 0;
}

.board_write .title dl {
    font-size: 0;
}

.board_write .info dl {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.board_write .title dt,
.board_write .title dd,
.board_write .info dt,
.board_write .info dd {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
}

.board_write .title dt,
.board_write .info dt {
    width: 100px;
}
.bt_wrap {
    margin-top: 30px;
    font-size: 0;
    text-align: center;
}
.bt_wrap a{
    display: inline-block;
    min-width: 60px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius:  2px;
    text-decoration: none;
    font-size: 1.4rem;
}
.on{
    margin-left: 0;
    background-color: antiquewhite;
    color: #000;
}

.board_page{
    margin-top: 30px;
    text-align: center;
}
